html.page-home {
  /*
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/bg.jpg');
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  */

  background: linear-gradient( #1abc9c, transparent), linear-gradient( 90deg, skyblue, transparent), linear-gradient( -90deg, coral, transparent);
  background-blend-mode: screen;

  /*background: linear-gradient(to left, #5f2c82, #49a09d);*/
}

.content-home .avatar img {
  width: 150px;
  height: 150px;
}

.content-home .name {
  font-size: 35px;
}

.content-home .slogan {
  font-size: 20px;
  margin-bottom: 16px;
  margin-top: 5px;
}

.content-home .nav .item a {
  font-size: 18px;
}